body {
  margin: 0;
}

#app {
  position: absolute;

  width: 100%;
  height: 100%;

  overflow: hidden;
  
  background-color: red;
}

canvas {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}